# ===========================
# ======= PostgreSQL ========
# ===========================
POSTGRES_DB=chessmate
POSTGRES_USER=chessmate
POSTGRES_PASSWORD=CHANGEME

POSTGRES_TELEGRAF_USER=telegraf_user
POSTGRES_TELEGRAF_PASSWORD=CHANGEME
POSTGRES_TELEGRAF_DB=telegraf

# ===========================
# ========= GRAFANA ==========
# ===========================
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=CHANGEME

# ===========================
# ========= HOSTS ===========
# ===========================
BACKEND_HOST=api.docker.localhost
TRAEFIK_HOST=traefik.docker.localhost
GRAFANA_HOST=visu.docker.localhost

# Route de l'API
# VITE_API_URL=https://api.chessmate-prod.fr